.app{
    background: var(--primary-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;
}

.app__whitebg {
  background-color: var(--white-color);
}

.gradient_text{
  background: -webkit-linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
