.button-disabled{
    background-color: rgba(120, 120, 120, 0.5);
    color: rgb(0, 0, 0);
    cursor: not-allowed;
}

.create{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    background: linear-gradient(0deg, rgba(255,255,255,.75) 0%, rgba(255,255,255,0) 100%), url('../../../assets/soft-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.NFT-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.form-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.create-form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
}

.input-field{
    width: 100%;
    padding: 10px;
    margin:10px 0;
    border: 0;
    border-bottom:1px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    color: var(--secondary-color);
}

.input-browse{
    width: 100%;
    padding: 10px;
    margin:10px 0;
    border: 0;
    border-bottom:1px solid #eee;
    background-color: white;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

input::placeholder{
    color: var(--secondary-color);
    font-weight: 500;
}

.input-browse::file-selector-button{
    background: var(--accent);
    border: none;
    border-radius: 10px;
    padding: .4rem;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
    color: white;
}

.input-browse::file-selector-button:hover{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.3);
}

.button-send{
    background: white;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
    color: var(--secondary-color);
    margin-top: 1rem;
    font-weight: 500;
}

.button-send:hover{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.3);
}

.connect-prompt{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; 
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.connect-prompt>p{
    font-size: 1.25rem;
    margin-top: 1rem;
    text-align: left;
}

.form-account{
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .backdrop-blur {
        background-color: rgba(0, 0, 0, .25);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }

    input::placeholder{
        color: white;
        font-weight: 500;
    }

    .input-field{
        color: white;
    }
}

@media screen and (min-width: 768px){
    .connect-prompt{
        font-size: 1.75rem;
        text-align: center;
    } 

    .connect-prompt>p{
        font-size: 1.5rem;
    }

    .button-send{
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1024px){
    .connect-prompt{
        font-size: 2.5rem;
    }
    
    .connect-prompt>p{
        font-size: 2rem;
    }

    .button-send{
        font-size: 1.5rem;
    }

    .create-form{
        width: 450px;
    }

    .input-field{
        font-size: 1.5rem;
    }
    
    .input-browse{
        font-size: 1.5rem;
    }

    .form-account{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 2000px){
    .connect-prompt{
        font-size: 6rem;
        padding: 7rem;
    }
    
    .connect-prompt>p{
        font-size: 4rem;
    }

    .button-send{
        font-size: 3rem;
    }

    .create-form{
        width: 800px;
    }

    .input-field{
        font-size: 3rem;
    }
    
    .input-browse{
        font-size: 3rem;
    }

    .form-account{
        font-size: 2rem;
    }
} 
