.button-disabled{
    background-color: rgba(120, 120, 120, 0.5);
    color: rgb(0, 0, 0);
    cursor: not-allowed;
}

.create{
    background: rgb(243,243,243);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.NFT-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.create-form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
}

.input-field{
    width: 100%;
    padding: 10px;
    margin:10px 0;
    border: 0;
    border-bottom:1px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

.input-brows{
    width: 100%;
    padding: 10px;
    margin:10px 0;
    border: 0;
    border-bottom:1px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

