.directions{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.directions-heading{
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1.5rem;
}

.main-heading-sub{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    color: var(--black-color);
}

.directions-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direction-item{
   padding: 1.5rem;
}

.direction-title{
    margin-bottom: 1rem;
    color: var(--secondary-color);   
}

.direction-text{
    line-height: 1.75rem;
}

@media screen and (min-width : 768px) {
    .directions-heading{
        font-size: 2rem;
    }
    .main-heading-sub{
        font-size: 2rem;
    }

    .direction-title{
        margin-bottom: 1.5rem; 
    }
    
    .direction-text{
        font-size: 1.25rem;
        line-height: 2rem;
    }
    
}