.directions{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.directions-heading{
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1.5rem;
}

.main-heading-sub{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    color: var(--black-color);
}

.directions-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direction-item{
   padding: 1.5rem;
}

.direction-title{
    margin-bottom: 1rem;
    color: var(--secondary-color);   
}

.direction-text{
    line-height: 1.75rem;
}

@media screen and (min-width : 768px) {
    .directions-heading{
        font-size: 2rem;
    }
    .main-heading-sub{
        font-size: 2rem;
    }

    .direction-title{
        margin-bottom: 1.5rem; 
    }
    
    .direction-text{
        font-size: 1.25rem;
        line-height: 2rem;
    }
    
}

@media screen and (min-width : 1024px) {
    .directions{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
    }

    .main-heading{
        font-size: 4rem;
    }

    .directions-heading{
       display: flex;
       flex-direction: column;
       justify-content: center;
    }

    .direction-item-container{
       display: flex;
       flex-direction: column;
       justify-content: center;
    }

    .direction-title{
        font-size: 1.25rem;
    }

    .direction-text{
        font-size: 1.25rem;
        line-height: 2rem;
    }
}

@media screen and (min-width: 2000px){
    .directions-heading{
        padding: 6rem;
    }

    .main-heading{
        font-size: 8rem;
    }

    .main-heading-sub{
        font-size: 4rem;
    }

    .direction-title{
        font-size: 5rem;
    }

    .direction-text{
        font-size: 4rem;
        line-height: 6rem;
    }
} 