.blue-bg{
    background: var(--color-footer);

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

section{
 
}

.directions{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1em;
    /* background: purple; */
}

.direction-container{
    /* background: red; */
    display: flex;
    flex-flow: column nowrap;
    padding-top: 1em;
    /* justify-content: space-between; */
    /* gap: 10%; */
}

.directions-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.directions-heading{
    /* background: yellow; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.direction-title>h1{
    margin: 0;
    padding-top: .4em;
}



.direction-text{
    /* background: green; */
    color: var(--color-text);
    font-weight: 500;
    max-width: 400px;
}

.direction-title{
    /* background: blue; */
    font-weight: 800;
    max-width: 180px;
}

.main-heading{
   max-width: 400px;
   font-weight: 800;
   font-size: 2.5em; 
}

.direction-title div{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-heading-sub{
    color: var(--color-subtext);
    font-weight: 500;
    font-size: 1 em;
    max-width: 400px;
}

