.welcome{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: white;
    padding: 10%;
}

.welcome-intro{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 294px;
    width: 546px;
}

.welcome-intro-title{
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    background: -webkit-linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-intro-sub{
    color: var(--gradient-text);
}

.welcome-intro-buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 10%;
    margin-top: 5%;
}

button{
    width: 200px;
    height: 56px;
    border-radius: 90px;
    background-color: white;
    font-size: 1em;
    border: none;
}

button:hover{
    background-color: #c6c6c6;
}



section{
    font-family: var(--font-family);
}