.welcome{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    background: url('../../../assets/brain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.welcome-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.welcome-intro-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.welcome-btn{
    border: none;
    padding: 1rem;
    width: 125px;
    background: rgb(154, 149, 249);
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 250, 250);
    border-radius: 15px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-nft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

@media screen and (min-width : 768px) {
    .welcome-btn{
        width: 150px;
        font-size: 1.2rem;
    }
}

@media screen and (min-width : 1024px) {
    .welcome-intro{
        padding: 4rem;
    }
    .welcome-text{
        font-size: 4rem;
    }
    .welcome-intro-buttons{
        width: 100%;
        justify-content: space-between;

    }
}

@media screen and (min-width: 2000px){

    .welcome-intro{
        padding: 8rem;
    }

    .welcome-text{
        font-size: 10rem;
    }

    .welcome-btn{
        font-size: 4rem;
        font-weight: 500;
        width: 400px;
    }

} 
    
